BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: None
DerivePointerAlignment: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeParens: Never
NamespaceIndentation: Inner
AlignConsecutiveAssignments: true
IndentCaseLabels: false
AccessModifierOffset: -4
PenaltyBreakBeforeFirstCallParameter: 9999999
PenaltyBreakScopeResolution: 9999999
PenaltyBreakTemplateDeclaration: 9999999
PenaltyExcessCharacter: 1
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortCaseExpressionOnASingleLine: true
BinPackArguments: false
BinPackParameters: false
InsertBraces: true
InsertNewlineAtEOF: true
LambdaBodyIndentation: OuterScope
PackConstructorInitializers: Never
RemoveEmptyLinesInUnwrappedLines: true